@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  border: 1px solid #ccc;
}
header nav {
  height: 10vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  color: #4B5563;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.btnVerde {
  background-color: #16a34a;
  padding: 20px;
  border-radius: 6px;
  color: #ffffff;
}

.caixaLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}
.caixaLogo h1 {
  color: #1f2937;
  font-size: 2rem;
  font-family: "Stack Sans Notch", sans-serif;
}

.apresentacao {
  height: 80vh;
  display: flex;
  justify-content: space-around;
}
.apresentacao section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}
.apresentacao section h2 {
  font-size: 3.75rem;
  width: 90%;
  font-family: "Poppins", sans-serif;
}
.apresentacao section p {
  font-size: 1.25rem;
  width: 75%;
  font-family: "Inter", sans-serif;
  color: #4B5563;
}

.recicla {
  margin: 30px;
  width: 50%;
  height: 70vh;
}

.buttonsapresentação {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.buttonsapresentação button {
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  background-color: #16A34A;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  border: none;
}
.buttonsapresentação .btnazul {
  background-color: #ffffff;
  color: #2563EB;
  font-family: "Poppins", sans-serif;
  border: solid #2563EB;
}

.dadosNumericos {
  background-color: #f3f5f8;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dadosNumericos div {
  height: 20vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dadosNumericos div h2 {
  color: #16a34a;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.dadosNumericos div p {
  font-size: 1rem;
  color: #4b5563;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  color: #46556b;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #1F2937;
  font-family: "Inter", sans-serif;
}

.text-how {
  margin-left: 14rem;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.text-how .hh {
  color: #46556b;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
}
.text-how .hhh {
  color: #1F2937;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
}
.text-how {
  background-color: #ffffff;
  height: 20vh;
  width: 65vw;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 30px;
  width: 70vw;
  height: 30vh;
  margin-left: 15%;
}
.cards .card {
  border-radius: 10px;
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 31vw;
}
.cards .card h3 {
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  color: #16a34a;
  font-weight: normal;
  font-size: 1.5rem;
}
.cards .card p {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}
.cards .card ul {
  margin-left: 30px;
  list-style-position: inside;
  font-family: "Poppins", sans-serif;
}
.cards .card .doadores {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}
.cards .card .adquirentes {
  color: #2563EB;
  display: flex;
  align-items: center;
}

.produtos {
  background: #f4f8fb;
}
.produtos h1 {
  margin: 30px;
  margin-left: 80px;
  font-size: 2.5rem;
  color: #1F2937;
  font-family: "Poppins", sans-serif;
}
.produtos p {
  margin: 30px;
  margin-left: 80px;
  color: #4B5563;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.produtosDisponíveis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #F3F5F8;
}
.produtosDisponíveis article {
  border: solid #16A34A;
  border-radius: 10px;
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponíveis article img {
  width: 100%;
}
.produtosDisponíveis article h3 {
  font-family: "Poppins", sans-serif;
  font-size: normal;
}
.produtosDisponíveis article p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 90%;
  margin: 30px;
  height: 10vh;
  color: #4B5563;
  font-size: 1rem;
}
.produtosDisponíveis article button {
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #16a34a;
  border: none;
  cursor: pointer;
}

footer {
  border: solid red;
  background-color: #1F2937;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-family: "Poppins", sans-serif;
  color: #9CA3AF;
}

@media (max-width: 768px) {
  header {
    height: 20vh;
    flex-direction: column;
  }
  header nav {
    width: 90%;
  }
  header nav a {
    font-size: 1rem;
  }
  .caixaLogo {
    width: 50%;
  }
  .caixaLogo h1 {
    font-size: 2rem;
  }
  .apresentacao {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .apresentacao img {
    width: 50vw;
  }
  .apresentacao section {
    height: 50vh;
  }
  .apresentacao section h2 {
    font-size: 1.5rem;
    width: 100%;
  }
  .apresentacao section p {
    width: 100%;
  }
  .buttonsapresentação {
    width: 100%;
    justify-content: space-evenly;
  }
  .buttonsapresentação button {
    padding: 10px 20px;
  }
  .dadosNumericos {
    height: 20vh;
  }
  .dadosNumericos div {
    width: 25%;
    height: 12vh;
    justify-content: space-evenly;
  }
  .dadosNumericos div h2 {
    font-size: 1.8rem;
  }
  .dadosNumericos div p {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .produtosDisponíveis {
    flex-direction: column;
  }
  .produtosDisponíveis article {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */