* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex; // Por padrão, os itens do container ficam um ao lado do outro
    //justify-content: space-between; //Alinha o primeiro item no começo, o último no final e os outros separados igualmente.
    justify-content: space-around; //alinha os itens na horizontal
    align-items: center; //alinha os itens na vertical
    height: 15vh;
    border: 1px solid #ccc;

    nav {
        height: 10vh;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: #4B5563;
            text-decoration: none;
            font-size: 1.1rem;
            font-family: "Poppins", sans-serif;
        }

    }
}

.btnVerde {
    background-color: #16a34a;
    padding: 20px;
    border-radius: 6px;
    color: #ffffff;
}

.caixaLogo {
        display: flex;
       justify-content: space-between;
       align-items: center;
       width: 12%;

       h1 {
        color: #1f2937;
        font-size: 2rem;
        font-family: "Stack Sans Notch", sans-serif;
       }
}

.apresentacao {
    height: 80vh;
    display: flex;
    justify-content: space-around;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 20px;

        h2 {
            font-size: 3.75rem;
            width: 90%;
            font-family: "Poppins", sans-serif;
        }

        p {
            font-size: 1.25rem;
            width: 75%;
            font-family: "Inter", sans-serif;
            color: #4B5563;
        }
    }
}

.recicla {
            margin: 30px;
            width: 50%;
            height: 70vh;
        }

  .buttonsapresentação {
    width: 60%;
    display: flex;
    justify-content: space-between;

    button {
        border-radius: 10px;
        padding: 15px 30px;
        cursor: pointer;
        background-color: #16A34A;
        color: #ffffff;
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        border: none;
    }

    .btnazul {
        background-color: #ffffff;
        color: #2563EB;
        font-family: "Poppins", sans-serif;
        border: solid #2563EB;
    }
}

.dadosNumericos {
    background-color: #f3f5f8;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    div {
        height: 20vh;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h2 {
            color: #16a34a;
            font-size: 2.5rem;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
        }

        p {
            font-size: 1rem;
            color: #4b5563;
            font-family: "Poppins", sans-serif;
            text-align: center;
        }
    }
}

    h1{
        color:#46556b;
        font-family: "Poppins", sans-serif;
    }
    
    h2{
        color: #1F2937;
        font-family: "Inter", sans-serif;
    }

.text-how {
    margin-left: 14rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

.hh {
    color:#46556b;
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
}
    
.hhh {
    color: #1F2937;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
}

    background-color: #ffffff;
    height: 20vh;
    width: 65vw;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 30px;
    width: 70vw;
    height: 30vh;
    margin-left: 15%;

    .card {
        border-radius: 10px;
        background-color: #f3f5f8;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 31vw;


            h3{
                margin-left: 20px;
                font-family: "Inter", sans-serif;
                color: #16a34a;
                font-weight: normal;
                font-size: 1.5rem;
            }

            p{
                margin-left: 20px;
               font-family: "Poppins", sans-serif; 
            }

            ul{
                margin-left: 30px;
                list-style-position: inside;
                font-family: "Poppins", sans-serif;
            }

    .doadores {
            width: fit-content;
            display: flex;
            align-items: center;
        }

    .adquirentes {
            color: #2563EB;
            display: flex;
            align-items: center;
        }

    }
}

.produtos {
    //border: solid red;
    background: #f4f8fb;

    h1 {
        margin: 30px;
        margin-left: 80px;
        font-size: 2.5rem;
        color: #1F2937;
        font-family: "Poppins", sans-serif;
    }

    p {
        margin: 30px;
        margin-left: 80px;
        color: #4B5563;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
    }
}
.produtosDisponíveis {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
   // border: solid blue;
    background-color: #F3F5F8;

    article {
        border: solid #16A34A;
        border-radius: 10px;
        width: 20%;
        height: 70vh;
        display: flex;
        // flex-direction: row; //por padrão ao aplicar o display flex, a direção é em linha (row)
        flex-direction: column; //muda a direção de linha para coluna
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
        }

        h3 {
            font-family: "Poppins", sans-serif;
            font-size: normal;
        }

        p {
            font-family: "Poppins", sans-serif;
            text-align: center;
            width: 90%;
            margin: 30px;
            height: 10vh;
            color: #4B5563;
            font-size: 1rem;
        }

        button {
            color: #ffffff;
            border-radius: 10px;
            margin-bottom: 2rem;
            padding: 1rem;
            background-color: #16a34a;
            border: none;
            cursor: pointer;
        }
    }
}

 .textfeedback {
   // border: solid blue;
    height: 80vh;
    margin: 20px;

    h1 {
      // border: solid purple;
       height: 10vh;
       font-size: 2.5rem;
       display: flex;
       align-items: center;
       justify-content: center;
    }

    h3 {
       height: 10vh;
       display: flex;
       align-items: center;
       justify-content: center;
       font-family: "Inter", sans-serif;
       color: #4B5563;
       font-size: 1.5rem;
       font-weight: 400;
    }

    .caixinha {
    //  border: solid pink;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        article {
            border: solid #16A34A 2px;
            border-radius: 10px;
            height: 45vh;
            width: 25%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-evenly;

            p {
                text-align: start;
                font-family: "Poppins", sans-serif;
                font-size: 1rem;
                color: #4B5563;
            }

            h5 {
                font-family: "Inter", sans-serif;
                font-size: 1rem;
                font-weight: 400;
            }

            .tipo {
                font-family: "Inter", sans-serif;
                color: #6B7280;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
 }

 .textdiferença {
   // border: solid purple;
    background-color: #F3F5F8;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1 {
       color: black;
       font-size: 2.5rem;
    }

    h3 {
       //border: solid blue;
        height: 20vh;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        width: 50%;
        text-align: center;
        padding: 20px 20px;
    }

    .buttonsfinal {
      //  border: solid red;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .btncomecar {
             color: #ffffff;
             font-family: "Poppins", sans-serif;
            border-radius: 10px;
            margin-bottom: 2rem;
            padding: 15px 50px;
            background-color: #16a34a;
            border: none;
            cursor: pointer;
            font-size: 1rem;
        }

        .btnsaiba {
            color: #16a34a;
            font-family: "Poppins", sans-serif;
            font-size: 1rem;
            border-radius: 10px;
            margin-bottom: 2rem;
            padding: 15px 50px;
            background-color: #F3F5F8;
            border: solid #16a34a;
            cursor: pointer;
            
        }

    }
 }

footer {

    section{
   // border: solid red;
    background-color: #1F2937;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .conectando {
      //  border: solid red;
        text-align: center;
        padding: 40px 20px;
        width: 30%;
    }

    .redes {
        display: flex;
        flex-direction: column;
      //  border: solid pink;
        padding: 20px 40px;
        width: 30%;
        
        .sociais {
          //  border: solid blue;
            font-family: "Inter" sans-serif;
        }
        
    }

    }

    p {
        background-color: #1F2937;
        
        padding: 20px 30px;
        text-align: center;
        height: 10vh;
        font-family: "Poppins", sans-serif;
        color: #9CA3AF;
    }
}

//Quero que você aplique esse estilo em telas de 0px até 768 px
@media(max-width: 768px) {
    
    header {
        height: 20vh;
        flex-direction: column;

        nav {
            width: 90%;

            a {
                font-size: 1rem;
            }
        }
    }

.caixaLogo {
    width: 50%; 

    h1 {
        font-size: 2rem;
    }
}

.apresentacao {
     flex-direction: column;
     align-items: center;
     text-align: center;

     img {
        width: 50vw;
     }
    section {
       height: 50vh;

       h2 {
        font-size: 1.5rem;
        width: 100%
        } 

        p {
          width: 100%;
        }
    }
    
}

.buttonsapresentação {
    width: 100%;
    justify-content: space-evenly;

    button {
        padding: 10px 20px;
    }
}

.dadosNumericos {
    height: 20vh;

    div {
        width: 25%;
        height: 12vh;
        justify-content: space-evenly;
       
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.8rem;
        text-align: center;
      }

    }
}

}

@media screen and (max-width: 768px) {
    .produtosDisponíveis {
        flex-direction: column;

        article {
            width: 50%;
        }
    }
}