* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex; // Por padrão, os itens do container ficam um ao lado do outro
    //justify-content: space-between; //Alinha o primeiro item no começo, o último no final e os outros separados igualmente.
    justify-content: space-around; //alinha os itens na horizontal
    align-items: center; //alinha os itens na vertical

    border: solid green 5px;
    height: 10vh;

    nav {
        height: 10vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


}